<?xml version="1.0"?>
<!-- 
/**
* Copyright © Icreative Technologies. All rights reserved.
*
* @author : Icreative Technologies
* @package : Ict_Quickorder
* @copyright : Copyright © Icreative Technologies (https://www.icreativetechnologies.com/)
*/
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
				<resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
							<resource id="Ict_Quickorder::config_quickorder" title="Ict Quickorder" sortOrder="10" />
						</resource>
					</resource>
				</resource>
            </resource>
        </resources>
    </acl>
</config>