<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Product">
        <plugin name="change_product" type="Plugindemo\Example\Plugin\Productprice" sortOrder="1"   disabled="false"/>
    </type>

    <type name="Magento\Checkout\Model\Cart">
        <plugin name="update_cart" type="Plugindemo\Example\Plugin\CartPrice" sortOrder="1" disabled="false"/>
    </type>
</config>
