<?xml version="1.0"?>
<!-- 
/**
* Copyright © Icreative Technologies. All rights reserved.
*
* @author : Icreative Technologies
* @package : Ict_Quickorder
* @copyright : Copyright © Icreative Technologies (https://www.icreativetechnologies.com/)
*/
 -->
 <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standard">
        <route id="quickorder" frontName="quickorder">
            <module name="Ict_Quickorder" />
        </route>
    </router>
</config>